*{
    margin: 0;
}
.hidden-in-laptop{
    display: none;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/Rectangle\ 47.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.middle-nav{
    display: flex;
    color: white;
    font-size: 20px;
    gap: 50px;
}
.right-nav{
    display: flex;
    gap: 50px;
}
.div1{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 20px;
}






@media(max-width:510px){
    .hidden-in-phone{
        display: none;
    }
    .hidden-in-laptop{
        display: block;
    }
    nav{
        padding: 0;
    }
    .left-nav{
        background-color: rgba(54, 53, 53, 0.767);
        padding: 23px;
        display: flex;
        gap: 200px;
    }
}