*{
    margin: 0;
}
.hidden-in-laptop{
    display: none;
}
header{
    width: 100%;
    height: 90vh;
    background-image: url(./img.png/Rectangle\ 47.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
.middle-nav{
    display: flex;
    color: white;
    font-size: 22px;
    gap: 50px;
}
.right-nav{
    display: flex;
    gap: 50px;
}
.div1{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 22px;
}
.middle-header{
    margin-top: 230px;
    margin-left: 70px;
    position: relative;
}
.middle-header h2{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.middle-header p{
    margin-top: 30px;
    color: #D2D2D2;
    font-size: 24px;
    width: 40%;
}
.middle-header button{
    margin-top: 50px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    background-color: green;
}
.but-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.but-img img{
    margin-right: 70px;
}
section{
    padding: 100px 5%;
    background-color: rgba(104, 104, 104, 1);
}
section h2{
    color: white;
    font-size: 44px;
}
section p{
    color: rgba(210, 210, 210, 1);
    width: 30%;
    font-size: 20px;
    margin-top: 20px;
}
article{
    display: flex;
    flex-wrap: wrap;
    gap: 9%;
}
.box{
    margin-top: 50px;
    width: 23%;
    padding: 50px 2%;
    background-color: rgba(83, 83, 83, 1);
    border-top-right-radius:100px;
}
.box img{
    width: 80%;
}
.box h3{
    width: 100%;
    color: white;
    font-size: 32px;
}
.box p{
    width: 90%;
}
.box button{
    margin-top: 20px;
    border: none;
    padding: 15px 30px;
    background-color: rgba(14, 158, 47, 1);
    color: white;
}








@media(max-width:510px){
    .hidden-in-phone{
        display: none;
    }
    .hidden-in-laptop{
        display: block;
    }
    nav{
        padding: 0;
    }
    .left-nav{
        background-color: rgba(54, 53, 53, 0.767);
        padding: 23px;
        display: flex;
        gap: 200px;
    }
    header{
        height: 115vh;
        background-position:90% ;
    }
    .middle-header{
        margin-top: 100px;
        margin-left: 35px;
    }
    .middle-header h2{
        font-size: 38px;
    }
    .middle-header p{
        width: 90%;
        padding: 0;
    }
    .but-img{
        position: relative;
    }
    .but-img img{
        position: absolute;
        top:200px;
        left: 75%;
    }
    .but-img button{
        width: 90%;
    }
    section h2{
        width: 90%;
        padding: 0 5%;
    }
    section p{
        width: 90%;
        padding: 0 5%;
    }
    .arrows{
        display: flex;
        justify-content: right;
        margin-top: 20px;
    }
    article{
        overflow: scroll;
        flex-wrap: nowrap;
    }
    .box{
        min-width: 98%;
    }
    

}