*{
    margin: 0;
}
.hidden-in-laptop{
    display: none;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/Rectangle\ 471.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.middle-nav{
    display: flex;
    color: white;
    font-size: 20px;
    gap: 20px;
}
.right-nav{
    display: flex;
    gap: 50px;
}
.div1{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 20px;
}
.middle-header{
    margin-top: 230px;
    margin-left: 70px;
    position: relative;
}
.middle-header h2{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.middle-header p{
    margin-top: 30px;
    color: #D2D2D2;
    font-size: 24px;
    width: 40%;
}
.middle-header button{
    margin-top: 50px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    background-color: green;
}
.but-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.but-img img{
    margin-right: 70px;
}
section{
    padding: 100px 5%;
    background-color: rgba(104, 104, 104, 1);
}
section h2{
    color: white;
    font-size: 44px;
}
section p{
    color: rgba(210, 210, 210, 1);
    width: 30%;
    font-size: 20px;
    margin-top: 20px;
}
article{
    display: flex;
    flex-wrap: wrap;
    gap: 9%;
}
.box{
    margin-top: 50px;
    width: 23%;
    padding: 50px 2%;
    background-color: rgba(83, 83, 83, 1);
    border-top-right-radius:100px;
}
.box img{
    width: 80%;
}
.box h3{
    width: 100%;
    color: white;
    font-size: 32px;
}
.box p{
    width: 90%;
}
.box button{
    margin-top: 20px;
    border: none;
    padding: 15px 30px;
    background-color: rgba(14, 158, 47, 1);
    color: white;
}
.hh2{
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
}
.text-img{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-text{
    width: 40%;
}
.left-text h3{
    color: rgba(14, 158, 47, 1);
    font-size: 32px;
}
.left-text p{
    margin-top: 20px;
    width: 60%;
    color: rgba(146, 147, 143, 1);
}
.right-img{
    width: 40%;
}
.right-img img{
    width: 100%;
}
.three-img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 3%;
}
.three-img img{
    width: 25%;
}
.width80{
    width: 80%;
    margin: auto;
}
.building{
    margin-top: 100px;
    width: 100%;
    height: 80vh;
    background-image: url(./img.png/Вход-1\ 1\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.all{
    display: flex;
    justify-content: space-around;
    padding-top: 110px;
}
.left-buil{
    width: 40%;
}
.left-buil h2{
    color: white;
    font-size: 48px;
    width: 80%;
    margin-bottom:40px ;
}
.photo-img{
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgba(14, 158, 47, 1);
    margin-bottom: 40px;
}
.par{
    color: rgba(210, 210, 210, 1);
    width: 50%;
}
.right-buil{
    background-color: rgba(14, 158, 47, 1);
    width: 30%;
    padding:0 50px;
    border-top-right-radius: 20%;
}
.right-buil h4, p{
    color: white;
}
.right-buil h4 {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top :50px;
}
.green-p{
    color: rgba(14, 158, 47, 1);
}
.up-map{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
}
.up-map h3{
    font-size: 40px;
}
.cars span{
    color: rgba(146, 147, 143, 1);
}
.cars{
    margin-bottom: 5px;
}
.map{
    margin-top: 50px;
    width: 80%;
    padding: 0 10%;
}
.map img{
    width: 80%;
    padding: 0 10%;
    margin: auto;
}
.back-img{
    margin-top: 100px;
    width: 100%;
    height: 50vh;
    background-image: url(./img.png/Rectangle\ 47.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}










@media(max-width:510px){
    .hidden-in-phone{
        display: none;
    }
    .hidden-in-laptop{
        display: block;
    }
    nav{
        padding: 0;
    }
    .left-nav{
        background-color: rgba(54, 53, 53, 0.767);
        padding: 23px;
        display: flex;
        gap: 200px;
    }
    header{
        height: 115vh;
        background-position:90% ;
    }
    .middle-header{
        margin-top: 100px;
        margin-left: 35px;
    }
    .middle-header h2{
        font-size: 38px;
    }
    .middle-header p{
        width: 90%;
        padding: 0;
    }
    .but-img{
        position: relative;
    }
    .but-img img{
        position: absolute;
        top:200px;
        left: 75%;
    }
    .but-img button{
        width: 90%;
    }
    section h2{
        width: 90%;
        padding: 0 5%;
    }
    section p{
        width: 90%;
        padding: 0 5%;
    }
    .arrows{
        display: flex;
        justify-content: right;
        margin-top: 20px;
    }
    article{
        overflow: scroll;
        flex-wrap: nowrap;
    }
    .box{
        min-width: 98%;
    }
    .text-img{
        flex-direction: column;
    }
    .left-text{
        width: 100%;
    }
    .left-text p, h3{
        width: 90%;
        padding: 5%;
        margin-top: 0px;
    }
    .text-img{
        margin-top: 0px;
    }
    .three-img img{
    width: 90%;
    padding: 0 5%;
}
    .right-img{
    width: 100%;
   }
   .right-img img{
    width: 90%;
    padding: 0 5%;
   }
   .text-img button{
    width: 90%; 
    border: none;
    padding:15px 20px;
    color: white;
    text-align: start;
    background-color: rgba(14, 158, 47, 1);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
   }
   .pp p{
    width: 90%;
    padding: 0 5%;
    margin-top: 20px;
    color: rgba(146, 147, 143, 1);
   }
   .pp h3{
    margin-top: 50px;
    color: rgba(146, 147, 143, 1);
    font-size: 32px;
    width: 80%;
    padding: 0 5%;
   }
   .all{
    flex-direction: column;
   }
   .width80{
    width: 100%;
   }
   .building{
    height: 100vh;
   }
   .left-buil{
    width: 100%;
   }
   .left-buil h2{
    font-size: 40px;
    width: 80%;
    margin: auto;
   }
.photo-img{
    justify-content: center;
    margin-top: 30px;
}
.par{
    width: 70%;
    margin: auto;
}
.right-buil{
    width: 76.2%;
    margin-top: 50px;
}
.up-map{
    margin-top: 400px;
    flex-direction: column;
    gap: 10px;
}
.map {
    width: 90%;
    padding: 0 5%;
}
.map img{
    width: 100%;
    padding: 0;
}

}